:root {
    font-smooth: subpixel-antialiased;
    --color-dimmed-grey: #aaa;
    --color-ghost-grey: #e7e7e7;
    --color-vibrant-blue: #7171f4;
    --color-hot-pink: #f15498;
    --color-sane-black: #680b4c;
    --color-beer-yellow: #e7e0b7;
    --shadow-lg-base: drop-shadow(0px 18px 9px rgba(0, 0, 0, 0.07));
    --shadow-lg-focus: drop-shadow(0px 12px 6px rgba(0, 0, 0, 0.07));
    --shadow-box-base: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --shadow-box-focus: rgba(0, 0, 0, 0.12) 0px 6px 8px -1px, rgba(0, 0, 0, 0.08) 0px 4px 6px -1px;
    --unified-transition: all .3s ease-in-out;
}

.link-box span {
    margin: 0 1.5rem;
}

h1,
h2,
h3 {
    width: fit-content;
    text-align: center;
}

a.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 16em;
}

footer {
    margin-top: 8em;
    text-align: center;
    font-size: 0.76em;
    color: var(--color-dimmed-grey);
    margin-bottom: 0;
}


footer a {
    will-change: transform;
    transition: var(--unified-transition);
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    color: var(--color-vibrant-blue);
}

footer span {
    margin: 0 .8rem;
}

a.link {
    text-decoration: none;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-bottom: 1.2em;
}

.heading {
    will-change: transform;
    transition: var(--unified-transition);
    margin: 1.2em auto 3em auto;
    white-space: nowrap;
    font-size: 1.8em;
    color: var(--color-vibrant-blue);
    filter: var(--shadow-lg-base);
}

.heading:hover {
    color: var(--color-hot-pink);
    transform: translateY(3px);
    filter: var(--shadow-lg-focus);
}

.section-heading {
    margin: 2em auto 1.6em auto;
    color: var(--color-vibrant-blue);
    font-size: 1.2em;
    font-weight: normal;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1em;
}

img#logo {
    will-change: transform;
    transition: var(--unified-transition);
    height: 224px;
    display: none;
    filter: var(--shadow-lg-base);
}

img#logo:hover {
    transform: rotate(8deg);
    filter: var(--shadow-lg-focus);
}

img.primary#logo {
    display: block;
}

div.link-box {
    will-change: transform;
    transition: var(--unified-transition);
    white-space: nowrap;
    color: var(--color-sane-black);
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: auto;
    box-shadow: var(--shadow-box-base);
}

div.link-box:hover {
    transform: translateY(-3px) scale(1.01);
    color: var(--color-hot-pink);
    box-shadow: var(--shadow-box-focus);
}

hr.divider-dotted {
    will-change: transform;
    transition: border-top .3s;
    border-top: 2px dotted var(--color-ghost-grey);
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 80%;
    margin-top: 2.8em;
    margin-bottom: 3.8em;
}

hr.divider-dotted:hover {
    border-top: 2px dotted var(--color-beer-yello);
}

div.body-wrapper {
    position: relative;
}

div.content {
    max-width: 700px;
    height: 100%;
    margin: auto;
    padding: 3em 14px;
    position: relative;
    z-index: 0;
}

div#background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

.logo-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1em;
}

.logo-view button {
    opacity: 0%;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: var(--color-dimmed-grey);
    background: transparent;
    border: none;
    transition: var(--unified-transition);
}

.logo-view button:hover {
    cursor: pointer;
}

.logo-view:hover button {
    opacity: 100%;
}