style.
    span {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    h1,
    h2,
    h3 {
        width: fit-content;
        text-align: center;
    }

    a.logo-wrapper {
        display: block;
        margin: auto;
        padding: 0 3em 0 3em;
        max-width: 16em;
    }

    p.copyright {
        margin-top: 8em;
        text-align: center;
        font-size: 12px;
        color: #aaa;
        margin-bottom: 0;
    }

    a.link {
        text-decoration: none;
        margin-left: 0.6em;
        margin-right: 0.6em;
        margin-bottom: 1.2em;
    }

    .heading {
        transition: all .3s ease-in-out;
        margin: 1.2em auto 2em auto;
        white-space: nowrap;
        font-size: 34px;
        color: #7171f4;
        filter: drop-shadow(0px 20px 12px rgba(0, 0, 0, 0.1));
    }

    .heading:hover {
        color: #f15498;
        transform: translateY(3px);
        filter: drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.1));
    }

    .section-heading {
        transition: color 10s ease-in-out;
        margin: 2em auto 1.6em auto;
        color: #c2b58f;
        font-size: 20px;
        filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
    }

    .section-heading:hover {
        color: transparent;
    }

    div.container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 16px;
    }

    img.logo {
        max-height: 16em;
        transition: all .3s ease-in-out;
        display: block;
        filter: drop-shadow(0px 20px 12px rgba(0, 0, 0, 0.1));
    }

    img.logo:hover {
        transform: rotate(8deg);
        filter: drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.1));
    }

    div.link-box {
        white-space: nowrap;
        transition: all .3s ease-in-out;
        color: #680b4c;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50px;
        width: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    div.link-box:hover {
        transform: translateY(-3px) scale(1.01);
        color: #da46ad;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 8px -1px, rgba(0, 0, 0, 0.08) 0px 4px 6px -1px;
    }

    hr.divider-dotted {
        transition: border-top .3s;
        border-top: 2px dotted #e7e7e7;
        border-left: none;
        border-right: none;
        border-bottom: none;
        width: 80%;
        margin-top: 2.8em;
        margin-bottom: 3.8em;
        filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
    }

    hr.divider-dotted:hover {
        border-top: 2px dotted #e7e0b7;
    }

    div.body-wrapper {
        position: relative;
    }

    div.content {
        max-width: 700px;
        height: 100%;
        margin: auto;
        padding: 3em 14px;
        position: relative;
        z-index: 0;
    }

    div#background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -100;
    }
