doctype html
html(lang='zh')
    include includes/head.pug
    include includes/widgets.pug
    body(style="font-family: Ubuntu, 'Noto Sans SC', Arial, Helvetica, sans-serif; background-color: #ffffff; margin: 0;")
    include includes/style.pug
        .body-wrapper
            .content
                a.logo-wrapper(href='https://www.lug.pub/' aria-label='LUG Pub Homepage')
                    img#logo(src='assets/images/lug-pub-logo.svg' height='224' width='224' alt='LUG penguin holding a beer')
                h1.heading
                    | Welcome to the pub!
                h2.section-heading
                    | 公共访问资源
                .container
                    +link-button('LUG Wiki', 'https://wiki.lug.pub')
                    +link-button('Weekly', 'https://w.lug.pub')
                    +link-button('Verilog OJ', 'https://voj.hitsz.org')
                hr.divider-dotted
                h2.section-heading
                    | 内网访问资源
                .container
                    +link-button('LUG 镜像站', 'http://10.249.12.85/')
                    +link-button('云萝', 'http://luo.ee/')
                hr.divider-dotted
                h2.section-heading
                    | 学校资源
                .container
                    +link-button('Grader', 'http://10.249.12.98:8000/')
                    +link-button('上网认证', 'http://10.248.98.2/')
                    +link-button('课程录播平台', 'http://219.223.238.14:88/ve/')
                footer
                    p HITSZ Linux User Group © 2022
                    p 
                        a(href='https://github.com/hitszlug') GitHub
                        span ·
                        a(href='https://t.me/hitszlug') Telegram Channel
                        span ·
                        a(href='https://qm.qq.com/cgi-bin/qm/qr?k=EmOyWeZrOaOeSoVrVLoozyKYdvjOia_t') QQ Group
                        span ·
                        a(href='https://space.bilibili.com/1124374292') Bilibili
                    p More infomation in browser console
        script(type='module')
            include includes/script.js
