doctype html
html(lang='zh')
    include includes/head.pug
    include includes/style.pug
    include includes/widgets.pug
    body(style="font-family: Ubuntu, 'Noto Sans SC', Arial, Helvetica, sans-serif; background-color:white; margin: 0;")
        .body-wrapper
            .content
                a.logo-wrapper(href='https://www.lug.pub/')
                    img.logo(src='assets/images/lug-pub-logo.svg')
                h1.heading
                    | Welcome to the pub!
                h2.section-heading
                    | å…¬å…±è®¿é—®èµ„æº
                .container
                    +link-button('LUG Wiki ğ›¼', 'https://wiki.lug.pub')
                    +link-button('Verilog OJ', 'https://voj.hitsz.org')
                    +link-button('LUG GitHub', 'https://github.com/hitszlug')
                hr.divider-dotted
                h2.section-heading
                    | å†…ç½‘è®¿é—®èµ„æº
                .container
                    +link-button('LUG é•œåƒç«™', 'http://10.249.12.85/')
                    +link-button('HITSZ Grader', 'http://10.249.12.98:8000/')
                    +link-button('HITSZ ä¸Šç½‘è®¤è¯', 'http://10.248.98.2/')
                    +link-button('äº‘è', 'http://10.249.80.151/')
                footer
                    p.copyright HITSZ Linux User Group Â© 2022
    //      #background
    //
      <script src="https://cdnjs.buttflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
      <script>
      VANTA.TOPOLOGY({
      el: "#background",
      mouseControls: true,
      touchControls: false,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0xecedfc,
      backgroundColor: 0xffffff
      })
      </script>
